{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ profile.name }} | Portfolio{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body class="dark-theme">

<nav class="navbar navbar-expand-lg navbar-dark custom-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            {{ profile.name|default:"Portfolio" }}
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>

                {% if profile.resume %}
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-outline-light btn-sm"
                       href="{{ profile.resume.url }}"
                       download>
                        Download Resume
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="container" style="padding-top:90px;">
    {% block content %}{% endblock %}
</main>

<footer class="footer text-center py-4 mt-5">
    © {{ profile.name }} • Built with Django
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
