{% extends 'core/base.html' %}

{% block title %}{{ profile.name }} | Home{% endblock %}

{% block content %}

<section class="text-center py-5 d-flex align-items-center">
    <div class="w-100">

        {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}"
                 class="rounded-circle mb-4 shadow"
                 width="150"
                 alt="Profile Image">
        {% endif %}

        <h1 class="fw-bold">{{ profile.name }}</h1>
        <h4 class="text-secondary mt-2">{{ profile.role }}</h4>

        <p class="mt-4 mx-auto w-75">
            {{ profile.bio }}
        </p>

        <div class="mt-4">
            {% if profile.github %}
                <a href="{{ profile.github }}"
                   class="btn btn-dark me-2"
                   target="_blank">
                    GitHub
                </a>
            {% endif %}

            {% if profile.linkedin %}
                <a href="{{ profile.linkedin }}"
                   class="btn btn-outline-dark me-2"
                   target="_blank">
                    LinkedIn
                </a>
            {% endif %}

            {% if profile.resume %}
                <a href="{{ profile.resume.url }}"
                   class="btn btn-outline-light"
                   download>
                    Resume
                </a>
            {% endif %}
        </div>

    </div>
</section>

{% endblock %}
